streamlit==1.26.0
openai==0.27.0
python-dotenv
pyttsx3
langchain
PyPDF2
python-docx
python-pptx
Pillow
requests
beautifulsoup4
lxml
readability-lxml
langchain-community
gtts
googletrans==4.0.0-rc1
textwrap3
